.form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.form__input {
    align-self: flex-start;
    flex-grow: 2;
    padding: 10px;
    margin: 16px;
    border: 1px solid #eee;
} 

.form__input:hover {
    border: 1px solid rgb(172, 171, 171);
}

.form__button {
    color: white;
    background-color: teal;
    border: none;
    padding: 10px;
    align-self: center;
    cursor: pointer;
    margin: 10px 10px 10px 0px;
    transition: background-color 0.3s, transform 0.3s;
}

@media  (max-width: 767px) {
    .form__button {
        flex-basis: 100%;
        margin-top: 0px;
        margin: 0px 16px 16px 16px;
    }
}

.form__button:hover {
    background-color: hsl(180, 100%, 30%);
    transform: scale(1.1);
}

@media  (max-width: 767px) {
    .form__button:hover {
        background-color: hsl(180, 100%, 30%);
        transform: scaleX(1.05) scaleY(1.2);
    }
}

.form__button:active {
    background-color: hsl(180, 100%, 35%);
}