.task {
    padding: 0 15px 15px;
    margin: 0;
}

.task__item {
list-style: none;
border-bottom: 1px solid #eee;
padding: 10px;
display: flex;
align-items: center;
}

.task__hidden {
display: none;
}

.task__text {
padding: 0 20px;
flex-grow: 1;
word-break: break-word;
}

.task__text--done {
text-decoration: line-through;
}

.task__button {
color: white;
cursor: pointer;
width: 30px;
height: 30px;
padding: 0px;
border: none;
transition: transform 0.3s;
flex-shrink: 0;
}

.task__button--done {
background-color: green;
}

.task__button--done:hover {
background-color: hsl(120, 100%, 30%);
transform: scale(1.1);
}

.task__button--done:active {
background-color: hsl(120, 100%, 35%);
}

.task__button--remove {
background-color: red;
}

.task__button--remove:hover {
background-color: hsl(0, 100%, 55%);
transform: scale(1.1);
}

.task__button--remove:active {
background-color: hsl(0, 100%, 60%);
}

@media  (max-width: 767px) {
.task__button {
    flex-shrink: 0;
}
.task__text {
    padding-left: 10px;
    padding-right: 10px;
}
}